<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/lib/layui-v2.6.3/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all">
    <style type="text/css">
        .toolbar {
            border: 1px solid #ccc;
        }

        .text {
            border: 1px solid #ccc;
            height: 400px;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div id="layout">
            <form id="form-search" class="layui-form layui-form-pane" action="">
                <fieldset class="table-search-fieldset" style="padding-top: 3px;height: 65px">
                    <legend>撰写博客</legend>
                    <div style="margin: 2px 10px 10px 10px">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <div class="layui-input-inline">
                                        <input style="border-radius: 5px" type="text" id="title" name="articleTitle" lay-verify="title" placeholder="请输入标题" autocomplete="off" class="layui-input" value="">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <button style="border-radius: 30px;margin-left: 100px" class="layui-btn layui-btn-primary layui-border-red" lay-submit lay-filter="keep">保存草稿</button>
                                    <button style="border-radius: 30px" type="button" class="layui-btn layui-btn-danger" lay-submit lay-filter="post">发布文章</button>
                                </div>
                            </div>
                    </div>
                </fieldset>
                <div id="div1" style="margin-top: 15px;padding: 8px 20px;" class="toolbar"></div>
                <div style="padding: 5px 0; color: #ccc"></div>
                <div id="div2" class="text" style="min-height: 600px" lay-verify="content"> <!--可使用 min-height 实现编辑区域自动增加高度--></div>
            </form>
<!--            <div id="div1" style="margin-top: 15px;padding: 8px 20px;" class="toolbar"></div>-->
<!--            <div style="padding: 5px 0; color: #ccc"></div>-->
<!--            <div id="div2" class="text" style="min-height: 600px" lay-verify="content"> &lt;!&ndash;可使用 min-height 实现编辑区域自动增加高度&ndash;&gt;</div>-->
        </div>
    </div>
</div>

<script th:src="@{/lib/layui-v2.6.3/layui.js}" charset="utf-8"></script>
<script th:src="@{/js/lay-config.js}" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['form','layer','wangEditor'], function () {
        var $ = layui.jquery,
            form = layui.form,
            layer = layui.layer,
            wangEditor = layui.wangEditor;

        var editor = new wangEditor('#div1','#div2');
        editor.customConfig.uploadImgServer = "/admin/upload";
        editor.customConfig.uploadFileName = 'file';
        editor.customConfig.pasteFilterStyle = false;
        editor.customConfig.uploadImgMaxLength = 5;
        editor.customConfig.uploadImgHooks = {
            before : function(xhr, editor, files) {
                // 图片上传之前触发
                // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象，files 是选择的图片文件

                // 如果返回的结果是 {prevent: true, msg: 'xxxx'} 则表示用户放弃上传
                // return {
                //     prevent: true,
                //     msg: '放弃上传'
                // }
            },
            success : function(xhr, editor, result) {
                // 图片上传并返回结果，图片插入成功之后触发
                // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象，result 是服务器端返回的结果
            },
            fail : function(xhr, editor, result) {
                // 图片上传并返回结果，但图片插入错误时触发
                // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象，result 是服务器端返回的结果
            },
            error : function(xhr, editor) {
                // 图片上传出错时触发
                // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象
            },
            timeout : function(xhr, editor) {
                // 图片上传超时时触发
                // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象
            },

            // 如果服务器端返回的不是 {errno:0, data: [...]} 这种格式，可使用该配置
            // （但是，服务器端返回的必须是一个 JSON 格式字符串！！！否则会报错）
            customInsert : function(insertImg, result, editor) {
                // 图片上传并返回结果，自定义插入图片的事件（而不是编辑器自动插入图片！！！）
                // insertImg 是插入图片的函数，editor 是编辑器对象，result 是服务器端返回的结果

                // 举例：假如上传图片成功后，服务器端返回的是 {url:'....'} 这种格式，即可这样插入图片：
                var url = result.url
                insertImg(url)

                // result 必须是一个 JSON 格式字符串！！！否则报错
            }
        }
        // 必须放到有关于编辑器设置前面
        editor.create();

        form.verify({
            title: function (value) {
                if (value.length==0){
                    return '文章标题不能为空'
                }
            },
            content: function (value) {
                if (editor.txt.text() == 0){
                    return '文章内容不能未空'
                }
            }
        })

        form.on('submit(post)',function (data) {
            data = data.field
            var index = layer.open({
                title: '发布文章',
                type: 2,
                shade: 0.2,
                maxmin:false,
                shadeClose: true,
                skin: 'layui-layer-molv',
                area: ['50%', '100%'],
                content: '/admin/postblog',
                data : {
                    title : data.title,
                    html : editor.txt.html()
                }
            });
            $(window).on("resize", function () {
                layer.full(index);
            });
        })
    });
</script>
</body>
</html>